node_modules/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Compiled binary addons (e.g., node-sass)
build/Release

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# macOS
.DS_Store

# JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db

# Node.js debugging
node_modules/.bin/
